extends layout

block content
  
  .group-nav.mypage
    
    nav
      #nav-tab.nav.nav-tabs.mypage(role='tablist')
        a#nav-home-tab.nav-item.nav-link.active.mypage(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') MY 투자
        a#nav-profile-tab.nav-item.nav-link.mypage(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') MY 자산
        //- a#nav-contact-tab.nav-item.nav-link(data-toggle='tab' href='#nav-contact' role='tab' aria-controls='nav-contact' aria-selected='false') Contact
      #nav-tabContent.tab-content.mypage
        #nav-home.tab-pane.fade.show.active.mypage(role='tabpanel' aria-labelledby='nav-home-tab')
          block content
            h6 보유 코인 : 8908908
            table.table.listTable.mypage
              thead.thead.mypage
                tr
                  each item in list
                    th(scope='col')= item
              tbody
                if check === 'myInv'
                  each myI, idx in myInv
                    tr
                      th(rowspan=2,scope='row')= idx+1
                      td= myI.category
                      td= myI.title
                      td= myI.value      
                    tr
                      
        #nav-profile.tab-pane.fade.mypage(role='tabpanel' aria-labelledby='nav-profile-tab') 
          block content
            h6 보유 코인 : 8908908
            table.table.listTable.mypage
              thead.thead.mypage
                tr
                  each item in list
                    th(scope='col')= item
              tbody
                if check === 'myInv'
                  each myI, idx in myInv
                    tr
                      th(rowspan=2,scope='row')= idx+1
                      td= myI.category_reg
                      td= myI.title_reg
                      td= myI.value_reg     
                    tr