extends ../layout

block content
  .contentBlock
    h3= title
      hr
      br
    
    table.table.listTable.eval_investTable
      thead.thead-dark
        tr
          each item in list
            th(scope='col')= item
      tbody
        if check === 'invest'
          each i, idx in invest
            tr.investList(idNum=`${i.id}`)
              th(rowspan=2, scope='row')= idx+1
              td= i.category
              td= i.asset_name
              td= i.user_id.name
              td= i.createAt
            tr
              td(colspan=4)= `가치 : ${i.value}`
        else if check === 'eval'
          each e,idx in eval
            tr.evalList(idNum=`${e.id}`)
              th(scope='row')= 1
              td= e.category
              td= e.asset_name
              td= e.user_id.name
              td= e.createdAt


