form(action=`../request_invest/${asset.id}` method='POST')
    table.table.table-bordered.detail
        tbody
            tr
                th.detail 평가된 코인 가치
                td(scope='row')  #{value.value2coin} 코인
            tr  
                th.detail 평가된 현금 가치
                td(scope='row') #{value.value} 원 
            tr
                th.detail(scope='row') 현재 투자 인원
                td(scope='row') #{invPeople} 명 
            tr 
                th.detail(scope='row') 투자 총액
                td(scope='row') #{coinSum} 코인 
            tr
                th.detail(scope='row') 남은 투자 금액 
                td(scope='row') #{leftSum} 코인
            tr
                th.detail(scope='row') 나의 투자 금액 (코인)
                td(scope='row') 
                    if (isM)
                    else
                        input.form-control(type='text' id='investValue' name='investValue' placeholder='투자 금액')
            tr
                .form-group
                    td.button(colspan='2')
                        if (isM)
                            button.btn.btn-dark(type='submit') 승인하기
                        else
                            button.btn.btn-dark(type='submit') 투자하기
